.vagrant/
.idea/
*.errors
*.output
*.result
*.o
pintos-env/pintos/threads/build/bochsout.txt
pintos-env/pintos/threads/build/bochsrc.txt
pintos-env/pintos/threads/build/kernel.o
pintos-env/pintos/threads/build/devices/intq.o
pintos-env/pintos/threads/build/devices/serial.o
pintos-env/pintos/threads/build/devices/shutdown.o
pintos-env/pintos/threads/build/devices/timer.o
pintos-env/pintos/threads/build/lib/kernel/debug.o
pintos-env/pintos/threads/build/tests/threads/alarm-negative.o
pintos-env/pintos/threads/build/tests/threads/alarm-priority.o
pintos-env/pintos/threads/build/tests/threads/alarm-simultaneous.o
pintos-env/pintos/threads/build/tests/threads/alarm-wait.o
pintos-env/pintos/threads/build/tests/threads/alarm-zero.o
pintos-env/pintos/threads/build/tests/threads/mlfqs-block.o
pintos-env/pintos/threads/build/tests/threads/mlfqs-fair.o
pintos-env/pintos/threads/build/tests/threads/mlfqs-load-1.o
pintos-env/pintos/threads/build/tests/threads/mlfqs-load-60.o
pintos-env/pintos/threads/build/tests/threads/mlfqs-load-avg.o
pintos-env/pintos/threads/build/tests/threads/mlfqs-recent-1.o
pintos-env/pintos/threads/build/tests/threads/priority-change.o
pintos-env/pintos/threads/build/tests/threads/priority-condvar.o
pintos-env/pintos/threads/build/tests/threads/priority-donate-chain.o
pintos-env/pintos/threads/build/tests/threads/priority-donate-lower.o
pintos-env/pintos/threads/build/tests/threads/priority-donate-multiple.o
pintos-env/pintos/threads/build/tests/threads/priority-donate-multiple2.o
pintos-env/pintos/threads/build/tests/threads/priority-donate-nest.o
pintos-env/pintos/threads/build/tests/threads/priority-donate-one.o
pintos-env/pintos/threads/build/tests/threads/priority-donate-sema.o
pintos-env/pintos/threads/build/tests/threads/priority-fifo.o
pintos-env/pintos/threads/build/tests/threads/priority-preempt.o
pintos-env/pintos/threads/build/tests/threads/priority-sema.o
pintos-env/pintos/threads/build/threads/init.o
pintos-env/pintos/threads/build/threads/interrupt.o
pintos-env/pintos/threads/build/threads/intr-stubs.o
pintos-env/pintos/threads/build/threads/loader.o
pintos-env/pintos/threads/build/threads/start.o
pintos-env/pintos/threads/build/threads/switch.o
pintos-env/pintos/threads/build/threads/synch.o
pintos-env/pintos/threads/build/threads/thread.o
